body{
    background-color:lightblue;
    margin: 0px;  
}


#ka{
    margin: 0px;
    width: 45%;
    float: right;
    top: 0px;
    right: 0px;
    margin-bottom: 50px;
}
#title{
    float: left;
    width: 45%;
   padding: 50px 10px;
}
#wall{
    width: 100%;
    height:auto;
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
}
#content{
   font-size: 150%;
   padding: 20px;
   display: block;
   clear: both;
   background-color: white;
   width: 90%;
   margin: auto;
   box-shadow: 1px 2px 9px black;
}
h1{
   font-size: 120%;
   text-align: center;
   color:  rgb(46,135,200);
}
.focus{
    color: rgb(46,135,200);
}
footer{
    color: white;
    margin:20px 0px 0px 0px;
    padding: 10px;
    background-color: rgb(46,135,200);
    clear: both;
    display: block;
    text-align: center;
    font-weight: 900;
}
 a{
  display: block;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px;
  margin: auto;
  width: 110px;
  margin-top: 10px;
  box-shadow: 1px 2px black;

 }
@media screen and (max-width: 960px) {
    #title{
        padding: 20px 10px;
    }
    
}
@media screen and (max-width: 600px) {
    #title{
        padding:10px 5px
    }
    #ka{
        margin-bottom: 20px;
    }
    h1{
        font-size: 120%;
    }
    .sticky{
  position: fixed;;
  top: 0px;
  z-index: 10;
  
  }
  #content{
   margin-top:45%;
}
#wall{
  box-shadow: 2px 2px 5px black;
}
}

